<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="employee_detail_view.css">
    <title>社員情報詳細</title>
</head>

<body>
    <header>
        <div id="header" class="header-area">
            <div class="menu-button flex-child">
                <button>
                    メニュー
                </button>
            </div>
            <span class="header-spacer"></span>
            <div class="user-label flex-child">
                橋本将馬
            </div>
            <div class="logout-button flex-child">
                <button>
                    ログアウト
                </button>
            </div>
        </div>
    </header>
    <div class="main-area">
        <div class="employee-detail-view-area">
            <h1>詳細情報</h1>
            <div class="table-area">
                <table class="employee-detail-view-table">
                    <tbody>
                        <tr>
                            <td>
                                社員番号
                            </td>
                            <td>
                                0001
                            </td>
                        </tr>
                        <tr>
                            <td>
                                姓
                            </td>
                            <td>
                                サンプル1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                名
                            </td>
                            <td>
                                テスト1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                年齢
                            </td>
                            <td>
                                20
                            </td>
                        </tr>
                        <tr>
                            <td>
                                性別
                            </td>
                            <td>
                                男
                            </td>
                        </tr>
                        <tr>
                            <td>
                                電話番号
                            </td>
                            <td>
                                xxx-xxxx-xxx
                            </td>
                        </tr>
                        <tr>
                            <td>
                                メールアドレス
                            </td>
                            <td>
                                sample@example.com
                            </td>
                        </tr>
                        <tr>
                            <td>
                                住所
                            </td>
                            <td>
                                東京都墨田区
                            </td>
                        </tr>
                        <tr>
                            <td>
                                入社年月日
                            </td>
                            <td>
                                yyyy/mm/dd
                            </td>
                        </tr>
                        <tr>
                            <td>
                                趣味
                            </td>
                            <td>
                                釣り
                            </td>
                        </tr>
                        <tr>
                            <td>
                                特技
                            </td>
                            <td>
                                アブローラー
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="empoyee-auth-view-area">
            <h1>ユーザ権限</h1>
            <div class="table-area">
                <table class="employee-auth-view-table">
                    <tbody>
                        <tr>
                            <td>
                                会社情報
                            </td>
                            <td>
                                <input type="radio" name="company" value="0" disabled>参照
                            </td>
                            <td>
                                <input type="radio" name="company" value="1" disabled>編集
                            </td>
                        </tr>
                        <tr>
                            <td>
                                社員情報
                            </td>
                            <td>
                                <input type="radio" name="personal" value="0" disabled>個人
                            </td>
                            <td>
                                <input type="radio" name="personal" value="1" disabled>一覧
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-area">
            <div class="back-button flex-child">
                <button>
                    削除
                </button>
            </div>
            <span class="footer-spacer"></span>
            <div class="back-button flex-child">
                <button>
                    戻る
                </button>
            </div>
            <div class="create-button flex-child">
                <button>
                    新規登録
                </button>
            </div>
        </div>
    </footer>
</body>

</html>